In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Final_Data.csv")

In [3]:
df

,State_Name,Crop_Year,Area,Yield,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,...,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Bajra,Crop:_Jowar,Crop:_Wheat,Season:_Kharif,Season:_Rabi,Season:_Rabi
0,Maharashtra,1997,598400,217000,24.24300,42.3484,84,0,1,0,...,0,0,0,0,0,1,0,0,1,0
1,Maharashtra,1998,453200,227900,23.10000,8.7838,70,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,Maharashtra,1999,498300,190900,22.81180,39.5078,35,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,Maharashtra,2000,518700,160800,23.27460,9.2558,33,0,1,0,...,0,0,0,0,0,1,0,0,1,0
4,Maharashtra,2001,528900,175000,23.56740,4.0668,29,0,1,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340,Maharashtra,2010,41700,61400,24.58152,27.4774,45,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1341,Maharashtra,2011,34100,58500,24.68200,23.9894,43,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1342,Maharashtra,2012,36100,64600,24.78900,23.9894,66,0,0,0,...,0,0,0,1,0,0,1,0,0,1
1343,Maharashtra,2013,34500,30700,24.85400,3.5930,22,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1344,Maharashtra,2014,29100,26800,24.64700,17.4454,37,0,0,1,...,0,0,0,1,0,0,1,0,0,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1345 entries, 0 to 1344
Data columns (total 50 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   State_Name            1345 non-null   object
 1   Crop_Year             1345 non-null   int64
 2   Area                  1345 non-null   int64
 3   Yield                 1345 non-null   int64
 4   Temperature           1345 non-null   float64
 5   Precipitaion          1345 non-null   float64
 6   Humidity              1345 non-null   int64
 7   Soil_type:_chalky     1345 non-null   int64
 8   Soil_type:_clay       1345 non-null   int64
 9   Soil_type:_loamy      1345 non-null   int64
 10  Soil_type:_peaty      1345 non-null   int64
 11  Soil_type:_sandy      1345 non-null   int64
 12  Soil_type:_silt       1345 non-null   int64
 13  Soil_type:_silty      1345 non-null   int64
 14  District:_AHMEDNAGAR  1345 non-null   int64
 15  District:_AKOLA       1345 non-null   int64
 16  District:_AMRAVATI    1345 non-null   int64
 17  District:_AURANGABAD  1345 non-null   int64
 18  District:_BEED        1345 non-null   int64
 19  District:_BHANDARA    1345 non-null   int64
 20  District:_BULDHANA    1345 non-null   int64
 21  District:_CHANDRAPUR  1345 non-null   int64
 22  District:_DHULE       1345 non-null   int64
 23  District:_GADCHIROLI  1345 non-null   int64
 24  District:_GONDIA      1345 non-null   int64
 25  District:_HINGOLI     1345 non-null   int64
 26  District:_JALGAON     1345 non-null   int64
 27  District:_JALNA       1345 non-null   int64
 28  District:_KOLHAPUR    1345 non-null   int64
 29  District:_LATUR       1345 non-null   int64
 30  District:_NAGPUR      1345 non-null   int64
 31  District:_NANDED      1345 non-null   int64
 32  District:_NANDURBAR   1345 non-null   int64
 33  District:_NASHIK      1345 non-null   int64
 34  District:_OSMANABAD   1345 non-null   int64
 35  District:_PARBHANI    1345 non-null   int64
 36  District:_PUNE        1345 non-null   int64
 37  District:_SANGLI      1345 non-null   int64
 38  District:_SATARA      1345 non-null   int64
 39  District:_SOLAPUR     1345 non-null   int64
 40  District:_THANE       1345 non-null   int64
 41  District:_WARDHA      1345 non-null   int64
 42  District:_WASHIM      1345 non-null   int64
 43  District:_YAVATMAL    1345 non-null   int64
 44  Crop:_Bajra           1345 non-null   int64
 45  Crop:_Jowar           1345 non-null   int64
 46  Crop:_Wheat           1345 non-null   int64
 47  Season:_Kharif        1345 non-null   int64
 48  Season:_Rabi          1345 non-null   int64
 49  Season:_Rabi          1345 non-null   int64
dtypes: float64(2), int64(47), object(1)
memory usage: 525.5+ KB

In [5]:
new_df=df

In [6]:
def undummy(df):
    category_cols = [col for col in df.columns if col.startswith('Soil_type:_')]
    df['Soil_Type'] = df[category_cols].idxmax(axis=1).str.replace('Soil_type:_', '').astype(int)
    df = df.drop(columns=category_cols)
    return df

In [7]:
df

,State_Name,Crop_Year,Area,Yield,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,...,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Bajra,Crop:_Jowar,Crop:_Wheat,Season:_Kharif,Season:_Rabi,Season:_Rabi
0,Maharashtra,1997,598400,217000,24.24300,42.3484,84,0,1,0,...,0,0,0,0,0,1,0,0,1,0
1,Maharashtra,1998,453200,227900,23.10000,8.7838,70,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,Maharashtra,1999,498300,190900,22.81180,39.5078,35,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,Maharashtra,2000,518700,160800,23.27460,9.2558,33,0,1,0,...,0,0,0,0,0,1,0,0,1,0
4,Maharashtra,2001,528900,175000,23.56740,4.0668,29,0,1,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340,Maharashtra,2010,41700,61400,24.58152,27.4774,45,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1341,Maharashtra,2011,34100,58500,24.68200,23.9894,43,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1342,Maharashtra,2012,36100,64600,24.78900,23.9894,66,0,0,0,...,0,0,0,1,0,0,1,0,0,1
1343,Maharashtra,2013,34500,30700,24.85400,3.5930,22,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1344,Maharashtra,2014,29100,26800,24.64700,17.4454,37,0,0,1,...,0,0,0,1,0,0,1,0,0,1

In [10]:

new_df_jowar=df[df["Crop:_Jowar"]>=1]

In [30]:
new_df_jowar

,State_Name,Crop_Year,Area,Yield,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,...,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Bajra,Crop:_Jowar,Crop:_Wheat,Season:_Kharif,Season:_Rabi,Season:_Rabi
0,Maharashtra,1997,598400,217000,24.2430,42.3484,84,0,1,0,...,0,0,0,0,0,1,0,0,1,0
1,Maharashtra,1998,453200,227900,23.1000,8.7838,70,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,Maharashtra,1999,498300,190900,22.8118,39.5078,35,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,Maharashtra,2000,518700,160800,23.2746,9.2558,33,0,1,0,...,0,0,0,0,0,1,0,0,1,0
4,Maharashtra,2001,528900,175000,23.5674,4.0668,29,0,1,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,Maharashtra,2003,33300,12800,24.0032,39.6260,65,0,0,0,...,0,0,0,1,0,1,0,0,1,0
437,Maharashtra,2010,100,100,24.3521,8.1252,45,0,0,0,...,0,0,0,1,0,1,0,0,1,0
438,Maharashtra,2011,100,100,24.3241,15.6864,42,0,0,0,...,0,0,0,1,0,1,0,0,1,0
439,Maharashtra,2012,200,200,24.2560,14.4954,38,0,0,0,...,0,0,0,1,0,1,0,0,1,0
440,Maharashtra,2014,4000,3300,23.9820,16.6572,35,0,0,0,...,0,0,0,1,0,1,0,0,1,0

In [31]:
new_df_jowar.columns

Index(['State_Name', 'Crop_Year', 'Area', 'Yield', 'Temperature',
       'Precipitaion', 'Humidity', 'Soil_type:_chalky', 'Soil_type:_clay',
       'Soil_type:_loamy', 'Soil_type:_peaty', 'Soil_type:_sandy',
       'Soil_type:_silt', 'Soil_type:_silty', 'District:_AHMEDNAGAR',
       'District:_AKOLA', 'District:_AMRAVATI', 'District:_AURANGABAD',
       'District:_BEED', 'District:_BHANDARA', 'District:_BULDHANA',
       'District:_CHANDRAPUR', 'District:_DHULE', 'District:_GADCHIROLI',
       'District:_GONDIA', 'District:_HINGOLI', 'District:_JALGAON',
       'District:_JALNA', 'District:_KOLHAPUR', 'District:_LATUR',
       'District:_NAGPUR', 'District:_NANDED', 'District:_NANDURBAR',
       'District:_NASHIK', 'District:_OSMANABAD', 'District:_PARBHANI',
       'District:_PUNE', 'District:_SANGLI', 'District:_SATARA',
       'District:_SOLAPUR', 'District:_THANE', 'District:_WARDHA',
       'District:_WASHIM', 'District:_YAVATMAL', 'Crop:_Bajra', 'Crop:_Jowar',
       'Crop:_Wheat', 'Season:_Kharif', 'Season:_Rabi', 'Season:_Rabi       '],
      dtype='object')

In [32]:
x_fe=[ 'Temperature',
       'Precipitaion', 'Humidity', 'Soil_type:_chalky', 'Soil_type:_clay',
       'Soil_type:_loamy', 'Soil_type:_peaty', 'Soil_type:_sandy',
       'Soil_type:_silt', 'Soil_type:_silty', 'District:_AHMEDNAGAR',
       'District:_AKOLA', 'District:_AMRAVATI', 'District:_AURANGABAD',
       'District:_BEED', 'District:_BHANDARA', 'District:_BULDHANA',
       'District:_CHANDRAPUR', 'District:_DHULE', 'District:_GADCHIROLI',
       'District:_GONDIA', 'District:_HINGOLI', 'District:_JALGAON',
       'District:_JALNA', 'District:_KOLHAPUR', 'District:_LATUR',
       'District:_NAGPUR', 'District:_NANDED', 'District:_NANDURBAR',
       'District:_NASHIK', 'District:_OSMANABAD', 'District:_PARBHANI',
       'District:_PUNE', 'District:_SANGLI', 'District:_SATARA',
       'District:_SOLAPUR', 'District:_THANE', 'District:_WARDHA',
       'District:_WASHIM', 'District:_YAVATMAL', 'Crop:_Jowar']

In [33]:

x=new_df_jowar[x_fe]

In [34]:
y_fe=['Yield']
y=new_df_jowar[y_fe]

## we can get production using the yfeatures
    production=yield X Area

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=40)

In [37]:
x_train

,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,Soil_type:_peaty,Soil_type:_sandy,Soil_type:_silt,Soil_type:_silty,...,District:_PARBHANI,District:_PUNE,District:_SANGLI,District:_SATARA,District:_SOLAPUR,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Jowar
27,22.8740,13.7788,35,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
272,23.6977,12.9408,45,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
185,23.8436,31.9362,53,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
364,24.4466,47.9198,34,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
256,24.9606,25.9488,84,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,25.1030,35.2414,51,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
165,24.7984,3.8366,35,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,23.4560,8.3676,20,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
219,24.8550,33.7460,42,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
326,24.6396,24.3852,32,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1

In [38]:
x_test

,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,Soil_type:_peaty,Soil_type:_sandy,Soil_type:_silt,Soil_type:_silty,...,District:_PARBHANI,District:_PUNE,District:_SANGLI,District:_SATARA,District:_SOLAPUR,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Jowar
48,23.864000,23.4266,39,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
194,24.274000,13.1274,38,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
141,24.890600,7.4244,29,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
9,22.781100,20.8014,43,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
274,24.985800,10.9874,40,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,23.969400,15.2770,27,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
295,23.968471,15.0604,34,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
147,24.749200,31.5016,42,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
368,25.114200,54.7230,47,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
160,24.317000,22.0678,41,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [39]:
from sklearn.linear_model import LinearRegression
mod_lin=LinearRegression()

In [40]:
mod_lin.fit(x_train,y_train)

LinearRegression()

In [41]:
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score

In [42]:
mod_lin.score(x_train,y_train)

0.763335372683708

In [43]:
y_predict=mod_lin.predict(x_test)

In [44]:
mae(y_test,y_predict)

2159394149975.3252

In [45]:
mse(y_test,y_predict)

6.201767333620559e+26

In [29]:
r2_score(y_test,y_predict)

-6.9772284912242376e+16

In [47]:
mod_lin.coef_

array([[-5.84046480e+03,  6.35304574e+02, -1.80434984e+02,
        -1.85081813e+15,  2.16531062e+15,  2.16531062e+15,
         1.12953955e+15,  2.16531062e+15, -2.46419860e+14,
         2.16531062e+15,  2.87199417e+14,  2.87199416e+14,
         2.87199416e+14,  2.87199417e+14,  2.87199417e+14,
         2.87199416e+14,  2.87199416e+14,  2.87199416e+14,
         2.87199416e+14,  2.87199416e+14, -1.24935884e+06,
         2.87199416e+14,  2.87199417e+14,  2.87199417e+14,
         2.87199416e+14,  2.87199416e+14,  2.87199416e+14,
         2.87199416e+14,  2.87199416e+14,  2.87199416e+14,
         2.87199417e+14,  2.87199417e+14,  2.87199417e+14,
         2.87199417e+14,  2.87199417e+14,  2.87199417e+14,
         0.00000000e+00,  2.87199416e+14,  2.87199416e+14,
         2.87199416e+14,  0.00000000e+00]])

In [48]:
mod_lin.intercept_

array([-2.45251004e+15])

In [49]:
from sklearn.ensemble import RandomForestRegressor
model_random = RandomForestRegressor(n_estimators=100, random_state=42)

In [50]:
model_random.fit(x_train,y_train)

<ipython-input-50-34b152e4a513>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_random.fit(x_train,y_train)

RandomForestRegressor(random_state=42)

In [51]:
y_pred=model_random.predict(x_test)

In [52]:
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score

In [53]:
model_random.score(x_train,y_train)

0.9555189377902918

In [54]:
mae(y_test,y_pred)

33570.79563909775

In [55]:
mse(y_test,y_pred)

3753924028.527979

In [57]:
r2_score(y_test,y_pred)

0.5776690050310878