In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("Final_Data.csv")

In [4]:
df

,State_Name,Crop_Year,Area,Yield,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,...,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Bajra,Crop:_Jowar,Crop:_Wheat,Season:_Kharif,Season:_Rabi,Season:_Rabi
0,Maharashtra,1997,598400,217000,24.24300,42.3484,84,0,1,0,...,0,0,0,0,0,1,0,0,1,0
1,Maharashtra,1998,453200,227900,23.10000,8.7838,70,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,Maharashtra,1999,498300,190900,22.81180,39.5078,35,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,Maharashtra,2000,518700,160800,23.27460,9.2558,33,0,1,0,...,0,0,0,0,0,1,0,0,1,0
4,Maharashtra,2001,528900,175000,23.56740,4.0668,29,0,1,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340,Maharashtra,2010,41700,61400,24.58152,27.4774,45,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1341,Maharashtra,2011,34100,58500,24.68200,23.9894,43,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1342,Maharashtra,2012,36100,64600,24.78900,23.9894,66,0,0,0,...,0,0,0,1,0,0,1,0,0,1
1343,Maharashtra,2013,34500,30700,24.85400,3.5930,22,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1344,Maharashtra,2014,29100,26800,24.64700,17.4454,37,0,0,1,...,0,0,0,1,0,0,1,0,0,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1345 entries, 0 to 1344
Data columns (total 50 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   State_Name            1345 non-null   object
 1   Crop_Year             1345 non-null   int64
 2   Area                  1345 non-null   int64
 3   Yield                 1345 non-null   int64
 4   Temperature           1345 non-null   float64
 5   Precipitaion          1345 non-null   float64
 6   Humidity              1345 non-null   int64
 7   Soil_type:_chalky     1345 non-null   int64
 8   Soil_type:_clay       1345 non-null   int64
 9   Soil_type:_loamy      1345 non-null   int64
 10  Soil_type:_peaty      1345 non-null   int64
 11  Soil_type:_sandy      1345 non-null   int64
 12  Soil_type:_silt       1345 non-null   int64
 13  Soil_type:_silty      1345 non-null   int64
 14  District:_AHMEDNAGAR  1345 non-null   int64
 15  District:_AKOLA       1345 non-null   int64
 16  District:_AMRAVATI    1345 non-null   int64
 17  District:_AURANGABAD  1345 non-null   int64
 18  District:_BEED        1345 non-null   int64
 19  District:_BHANDARA    1345 non-null   int64
 20  District:_BULDHANA    1345 non-null   int64
 21  District:_CHANDRAPUR  1345 non-null   int64
 22  District:_DHULE       1345 non-null   int64
 23  District:_GADCHIROLI  1345 non-null   int64
 24  District:_GONDIA      1345 non-null   int64
 25  District:_HINGOLI     1345 non-null   int64
 26  District:_JALGAON     1345 non-null   int64
 27  District:_JALNA       1345 non-null   int64
 28  District:_KOLHAPUR    1345 non-null   int64
 29  District:_LATUR       1345 non-null   int64
 30  District:_NAGPUR      1345 non-null   int64
 31  District:_NANDED      1345 non-null   int64
 32  District:_NANDURBAR   1345 non-null   int64
 33  District:_NASHIK      1345 non-null   int64
 34  District:_OSMANABAD   1345 non-null   int64
 35  District:_PARBHANI    1345 non-null   int64
 36  District:_PUNE        1345 non-null   int64
 37  District:_SANGLI      1345 non-null   int64
 38  District:_SATARA      1345 non-null   int64
 39  District:_SOLAPUR     1345 non-null   int64
 40  District:_THANE       1345 non-null   int64
 41  District:_WARDHA      1345 non-null   int64
 42  District:_WASHIM      1345 non-null   int64
 43  District:_YAVATMAL    1345 non-null   int64
 44  Crop:_Bajra           1345 non-null   int64
 45  Crop:_Jowar           1345 non-null   int64
 46  Crop:_Wheat           1345 non-null   int64
 47  Season:_Kharif        1345 non-null   int64
 48  Season:_Rabi          1345 non-null   int64
 49  Season:_Rabi          1345 non-null   int64
dtypes: float64(2), int64(47), object(1)
memory usage: 525.5+ KB

In [6]:
new_df=df

In [7]:
def undummy(df):
    category_cols = [col for col in df.columns if col.startswith('Soil_type:_')]
    df['Soil_Type'] = df[category_cols].idxmax(axis=1).str.replace('Soil_type:_', '').astype(int)
    df = df.drop(columns=category_cols)
    return df

In [8]:
df

,State_Name,Crop_Year,Area,Yield,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,...,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Bajra,Crop:_Jowar,Crop:_Wheat,Season:_Kharif,Season:_Rabi,Season:_Rabi
0,Maharashtra,1997,598400,217000,24.24300,42.3484,84,0,1,0,...,0,0,0,0,0,1,0,0,1,0
1,Maharashtra,1998,453200,227900,23.10000,8.7838,70,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,Maharashtra,1999,498300,190900,22.81180,39.5078,35,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,Maharashtra,2000,518700,160800,23.27460,9.2558,33,0,1,0,...,0,0,0,0,0,1,0,0,1,0
4,Maharashtra,2001,528900,175000,23.56740,4.0668,29,0,1,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340,Maharashtra,2010,41700,61400,24.58152,27.4774,45,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1341,Maharashtra,2011,34100,58500,24.68200,23.9894,43,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1342,Maharashtra,2012,36100,64600,24.78900,23.9894,66,0,0,0,...,0,0,0,1,0,0,1,0,0,1
1343,Maharashtra,2013,34500,30700,24.85400,3.5930,22,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1344,Maharashtra,2014,29100,26800,24.64700,17.4454,37,0,0,1,...,0,0,0,1,0,0,1,0,0,1

In [9]:

new_df_bajra=df[df["Crop:_Bajra"]>=1]

In [10]:
new_df_bajra

,State_Name,Crop_Year,Area,Yield,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,...,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Bajra,Crop:_Jowar,Crop:_Wheat,Season:_Kharif,Season:_Rabi,Season:_Rabi
441,Maharashtra,1997,274100,152800,26.110,179.562,60,0,1,0,...,0,0,0,0,1,0,0,1,0,0
442,Maharashtra,1998,302400,243900,26.010,158.940,54,0,0,0,...,0,0,0,0,1,0,0,1,0,0
443,Maharashtra,1999,310600,178300,26.670,88.113,71,0,0,0,...,0,0,0,0,1,0,0,1,0,0
444,Maharashtra,2000,326100,187300,26.100,374.876,51,0,1,0,...,0,0,0,0,1,0,0,1,0,0
445,Maharashtra,2001,194400,82000,25.540,209.503,73,0,0,0,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
822,Maharashtra,2010,1300,700,28.580,165.584,65,0,1,0,...,0,0,0,1,1,0,0,1,0,0
823,Maharashtra,2011,400,300,27.690,194.276,58,0,0,0,...,0,0,0,1,1,0,0,1,0,0
824,Maharashtra,2012,300,300,27.502,45.148,57,0,0,1,...,0,0,0,1,1,0,0,1,0,0
825,Maharashtra,2013,100,100,27.540,36.801,79,0,1,0,...,0,0,0,1,1,0,0,1,0,0
826,Maharashtra,2014,200,175,28.131,250.000,53,0,0,1,...,0,0,0,1,1,0,0,1,0,0

In [11]:
new_df_bajra.columns

Index(['State_Name', 'Crop_Year', 'Area', 'Yield', 'Temperature',
       'Precipitaion', 'Humidity', 'Soil_type:_chalky', 'Soil_type:_clay',
       'Soil_type:_loamy', 'Soil_type:_peaty', 'Soil_type:_sandy',
       'Soil_type:_silt', 'Soil_type:_silty', 'District:_AHMEDNAGAR',
       'District:_AKOLA', 'District:_AMRAVATI', 'District:_AURANGABAD',
       'District:_BEED', 'District:_BHANDARA', 'District:_BULDHANA',
       'District:_CHANDRAPUR', 'District:_DHULE', 'District:_GADCHIROLI',
       'District:_GONDIA', 'District:_HINGOLI', 'District:_JALGAON',
       'District:_JALNA', 'District:_KOLHAPUR', 'District:_LATUR',
       'District:_NAGPUR', 'District:_NANDED', 'District:_NANDURBAR',
       'District:_NASHIK', 'District:_OSMANABAD', 'District:_PARBHANI',
       'District:_PUNE', 'District:_SANGLI', 'District:_SATARA',
       'District:_SOLAPUR', 'District:_THANE', 'District:_WARDHA',
       'District:_WASHIM', 'District:_YAVATMAL', 'Crop:_Bajra', 'Crop:_Jowar',
       'Crop:_Wheat', 'Season:_Kharif', 'Season:_Rabi', 'Season:_Rabi       '],
      dtype='object')

In [12]:
x_fe=[ 'Temperature',
       'Precipitaion', 'Humidity', 'Soil_type:_chalky', 'Soil_type:_clay',
       'Soil_type:_loamy', 'Soil_type:_peaty', 'Soil_type:_sandy',
       'Soil_type:_silt', 'Soil_type:_silty', 'District:_AHMEDNAGAR',
       'District:_AKOLA', 'District:_AMRAVATI', 'District:_AURANGABAD',
       'District:_BEED', 'District:_BHANDARA', 'District:_BULDHANA',
       'District:_CHANDRAPUR', 'District:_DHULE', 'District:_GADCHIROLI',
       'District:_GONDIA', 'District:_HINGOLI', 'District:_JALGAON',
       'District:_JALNA', 'District:_KOLHAPUR', 'District:_LATUR',
       'District:_NAGPUR', 'District:_NANDED', 'District:_NANDURBAR',
       'District:_NASHIK', 'District:_OSMANABAD', 'District:_PARBHANI',
       'District:_PUNE', 'District:_SANGLI', 'District:_SATARA',
       'District:_SOLAPUR', 'District:_THANE', 'District:_WARDHA',
       'District:_WASHIM', 'District:_YAVATMAL', 'Crop:_Bajra']

In [13]:

x=new_df_bajra[x_fe]

In [14]:
y_fe=['Yield']
y=new_df_bajra[y_fe]

## we can get production using the yfeatures
    production=yield X Area

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=40)

In [17]:
x_train

,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,Soil_type:_peaty,Soil_type:_sandy,Soil_type:_silt,Soil_type:_silty,...,District:_PARBHANI,District:_PUNE,District:_SANGLI,District:_SATARA,District:_SOLAPUR,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Bajra
451,27.680,288.451,66,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
639,27.135,387.200,56,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
662,26.524,362.551,78,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
588,29.580,301.990,64,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
469,29.160,370.269,50,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747,25.390,402.288,63,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
606,29.000,225.212,55,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
448,27.000,146.649,79,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
660,27.535,381.251,51,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
767,26.170,687.987,53,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [18]:
x_test

,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,Soil_type:_peaty,Soil_type:_sandy,Soil_type:_silt,Soil_type:_silty,...,District:_PARBHANI,District:_PUNE,District:_SANGLI,District:_SATARA,District:_SOLAPUR,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Bajra
492,28.230,44.144,64,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
444,26.100,374.876,51,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
484,29.380,240.813,55,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
503,28.330,226.095,63,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
668,26.288,362.812,48,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
780,26.129,184.103,63,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
720,26.105,172.864,68,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
763,26.497,929.844,69,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
581,28.020,274.215,61,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
702,27.535,72.513,81,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1

In [19]:
from sklearn.linear_model import LinearRegression
model_baj=LinearRegression()

In [20]:
model_baj.fit(x_train,y_train)

LinearRegression()

In [21]:
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score

In [22]:
model_baj.score(x_train,y_train)

0.7499449716729558

In [23]:
y_predict=model_baj.predict(x_test)

In [24]:
mae(y_test,y_predict)

17507.599170236856

In [25]:
mse(y_test,y_predict)

706536275.8629942

In [26]:
r2_score(y_test,y_predict)

0.777338217461298

In [27]:
model_baj.coef_

array([[-5.84666213e+03, -2.31517890e+01, -1.75833478e+02,
         1.41427787e+04,  3.08071874e+02, -1.95998824e+02,
        -3.44687592e+03,  3.40310585e+03, -1.60438917e+04,
         1.83280995e+03,  8.42445067e+04, -3.36744822e+04,
        -2.99796830e+04,  7.61815140e+04,  7.06261938e+04,
         1.09139364e-11, -3.27092279e+04, -7.27595761e-12,
         6.35342884e+04, -2.05204742e-11, -3.74881288e+04,
        -3.72370609e+04,  1.59694587e+04,  1.17071111e+04,
        -3.67367084e+04, -3.55221795e+04, -1.78704680e+04,
        -3.48880440e+04, -1.19833753e+04,  1.63392441e+05,
        -3.18422171e+04, -3.47389717e+04,  2.48877672e+04,
        -2.18629029e+04, -5.46493013e+02, -3.17615868e+04,
         0.00000000e+00, -1.94624710e+04, -3.18273081e+04,
        -3.04119725e+04,  0.00000000e+00]])

In [28]:
model_baj.intercept_

array([211155.79977307])

In [30]:
from sklearn.ensemble import RandomForestRegressor
model_random = RandomForestRegressor(n_estimators=100, random_state=42)

In [31]:
model_random.fit(x_train,y_train)

<ipython-input-31-34b152e4a513>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_random.fit(x_train,y_train)

RandomForestRegressor(random_state=42)

In [32]:
y_pred=model_random.predict(x_test)

In [33]:
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score

In [34]:
model_random.score(x_train,y_train)

0.9465149819309313

In [35]:
mae(y_test,y_pred)

17301.725172413793

In [36]:
mse(y_test,y_pred)

850334106.9650241