In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Final_Data.csv")

In [3]:
df

,State_Name,Crop_Year,Area,Yield,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,...,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Bajra,Crop:_Jowar,Crop:_Wheat,Season:_Kharif,Season:_Rabi,Season:_Rabi
0,Maharashtra,1997,598400,217000,24.24300,42.3484,84,0,1,0,...,0,0,0,0,0,1,0,0,1,0
1,Maharashtra,1998,453200,227900,23.10000,8.7838,70,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,Maharashtra,1999,498300,190900,22.81180,39.5078,35,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,Maharashtra,2000,518700,160800,23.27460,9.2558,33,0,1,0,...,0,0,0,0,0,1,0,0,1,0
4,Maharashtra,2001,528900,175000,23.56740,4.0668,29,0,1,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340,Maharashtra,2010,41700,61400,24.58152,27.4774,45,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1341,Maharashtra,2011,34100,58500,24.68200,23.9894,43,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1342,Maharashtra,2012,36100,64600,24.78900,23.9894,66,0,0,0,...,0,0,0,1,0,0,1,0,0,1
1343,Maharashtra,2013,34500,30700,24.85400,3.5930,22,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1344,Maharashtra,2014,29100,26800,24.64700,17.4454,37,0,0,1,...,0,0,0,1,0,0,1,0,0,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1345 entries, 0 to 1344
Data columns (total 50 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   State_Name            1345 non-null   object
 1   Crop_Year             1345 non-null   int64
 2   Area                  1345 non-null   int64
 3   Yield                 1345 non-null   int64
 4   Temperature           1345 non-null   float64
 5   Precipitaion          1345 non-null   float64
 6   Humidity              1345 non-null   int64
 7   Soil_type:_chalky     1345 non-null   int64
 8   Soil_type:_clay       1345 non-null   int64
 9   Soil_type:_loamy      1345 non-null   int64
 10  Soil_type:_peaty      1345 non-null   int64
 11  Soil_type:_sandy      1345 non-null   int64
 12  Soil_type:_silt       1345 non-null   int64
 13  Soil_type:_silty      1345 non-null   int64
 14  District:_AHMEDNAGAR  1345 non-null   int64
 15  District:_AKOLA       1345 non-null   int64
 16  District:_AMRAVATI    1345 non-null   int64
 17  District:_AURANGABAD  1345 non-null   int64
 18  District:_BEED        1345 non-null   int64
 19  District:_BHANDARA    1345 non-null   int64
 20  District:_BULDHANA    1345 non-null   int64
 21  District:_CHANDRAPUR  1345 non-null   int64
 22  District:_DHULE       1345 non-null   int64
 23  District:_GADCHIROLI  1345 non-null   int64
 24  District:_GONDIA      1345 non-null   int64
 25  District:_HINGOLI     1345 non-null   int64
 26  District:_JALGAON     1345 non-null   int64
 27  District:_JALNA       1345 non-null   int64
 28  District:_KOLHAPUR    1345 non-null   int64
 29  District:_LATUR       1345 non-null   int64
 30  District:_NAGPUR      1345 non-null   int64
 31  District:_NANDED      1345 non-null   int64
 32  District:_NANDURBAR   1345 non-null   int64
 33  District:_NASHIK      1345 non-null   int64
 34  District:_OSMANABAD   1345 non-null   int64
 35  District:_PARBHANI    1345 non-null   int64
 36  District:_PUNE        1345 non-null   int64
 37  District:_SANGLI      1345 non-null   int64
 38  District:_SATARA      1345 non-null   int64
 39  District:_SOLAPUR     1345 non-null   int64
 40  District:_THANE       1345 non-null   int64
 41  District:_WARDHA      1345 non-null   int64
 42  District:_WASHIM      1345 non-null   int64
 43  District:_YAVATMAL    1345 non-null   int64
 44  Crop:_Bajra           1345 non-null   int64
 45  Crop:_Jowar           1345 non-null   int64
 46  Crop:_Wheat           1345 non-null   int64
 47  Season:_Kharif        1345 non-null   int64
 48  Season:_Rabi          1345 non-null   int64
 49  Season:_Rabi          1345 non-null   int64
dtypes: float64(2), int64(47), object(1)
memory usage: 525.5+ KB

In [5]:
new_df=df

In [6]:
def undummy(df):
    category_cols = [col for col in df.columns if col.startswith('Soil_type:_')]
    df['Soil_Type'] = df[category_cols].idxmax(axis=1).str.replace('Soil_type:_', '').astype(int)
    df = df.drop(columns=category_cols)
    return df

In [7]:
df

,State_Name,Crop_Year,Area,Yield,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,...,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Bajra,Crop:_Jowar,Crop:_Wheat,Season:_Kharif,Season:_Rabi,Season:_Rabi
0,Maharashtra,1997,598400,217000,24.24300,42.3484,84,0,1,0,...,0,0,0,0,0,1,0,0,1,0
1,Maharashtra,1998,453200,227900,23.10000,8.7838,70,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,Maharashtra,1999,498300,190900,22.81180,39.5078,35,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,Maharashtra,2000,518700,160800,23.27460,9.2558,33,0,1,0,...,0,0,0,0,0,1,0,0,1,0
4,Maharashtra,2001,528900,175000,23.56740,4.0668,29,0,1,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340,Maharashtra,2010,41700,61400,24.58152,27.4774,45,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1341,Maharashtra,2011,34100,58500,24.68200,23.9894,43,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1342,Maharashtra,2012,36100,64600,24.78900,23.9894,66,0,0,0,...,0,0,0,1,0,0,1,0,0,1
1343,Maharashtra,2013,34500,30700,24.85400,3.5930,22,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1344,Maharashtra,2014,29100,26800,24.64700,17.4454,37,0,0,1,...,0,0,0,1,0,0,1,0,0,1

In [61]:

new_df_wheat=df[df["Crop:_Wheat"]>=1]

In [62]:
new_df_wheat

,State_Name,Crop_Year,Area,Yield,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,...,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Bajra,Crop:_Jowar,Crop:_Wheat,Season:_Kharif,Season:_Rabi,Season:_Rabi
827,Maharashtra,1997,79700,87100,23.34300,42.3484,84,0,1,0,...,0,0,0,0,0,0,1,0,0,1
828,Maharashtra,1998,124400,154200,23.10440,8.7838,70,0,0,0,...,0,0,0,0,0,0,1,0,0,1
829,Maharashtra,1999,127000,178800,22.81180,39.5078,35,0,0,0,...,0,0,0,0,0,0,1,0,0,1
830,Maharashtra,2000,94700,135800,23.27460,9.2558,33,0,1,0,...,0,0,0,0,0,0,1,0,0,1
831,Maharashtra,2001,93800,156300,23.56740,4.0668,29,0,1,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340,Maharashtra,2010,41700,61400,24.58152,27.4774,45,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1341,Maharashtra,2011,34100,58500,24.68200,23.9894,43,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1342,Maharashtra,2012,36100,64600,24.78900,23.9894,66,0,0,0,...,0,0,0,1,0,0,1,0,0,1
1343,Maharashtra,2013,34500,30700,24.85400,3.5930,22,0,0,1,...,0,0,0,1,0,0,1,0,0,1
1344,Maharashtra,2014,29100,26800,24.64700,17.4454,37,0,0,1,...,0,0,0,1,0,0,1,0,0,1

In [63]:
new_df_wheat.columns

Index(['State_Name', 'Crop_Year', 'Area', 'Yield', 'Temperature',
       'Precipitaion', 'Humidity', 'Soil_type:_chalky', 'Soil_type:_clay',
       'Soil_type:_loamy', 'Soil_type:_peaty', 'Soil_type:_sandy',
       'Soil_type:_silt', 'Soil_type:_silty', 'District:_AHMEDNAGAR',
       'District:_AKOLA', 'District:_AMRAVATI', 'District:_AURANGABAD',
       'District:_BEED', 'District:_BHANDARA', 'District:_BULDHANA',
       'District:_CHANDRAPUR', 'District:_DHULE', 'District:_GADCHIROLI',
       'District:_GONDIA', 'District:_HINGOLI', 'District:_JALGAON',
       'District:_JALNA', 'District:_KOLHAPUR', 'District:_LATUR',
       'District:_NAGPUR', 'District:_NANDED', 'District:_NANDURBAR',
       'District:_NASHIK', 'District:_OSMANABAD', 'District:_PARBHANI',
       'District:_PUNE', 'District:_SANGLI', 'District:_SATARA',
       'District:_SOLAPUR', 'District:_THANE', 'District:_WARDHA',
       'District:_WASHIM', 'District:_YAVATMAL', 'Crop:_Bajra', 'Crop:_Jowar',
       'Crop:_Wheat', 'Season:_Kharif', 'Season:_Rabi', 'Season:_Rabi       '],
      dtype='object')

In [64]:
x_fe=[ 'Temperature',
       'Precipitaion', 'Humidity', 'Soil_type:_chalky', 'Soil_type:_clay',
       'Soil_type:_loamy', 'Soil_type:_peaty', 'Soil_type:_sandy',
       'Soil_type:_silt', 'Soil_type:_silty', 'District:_AHMEDNAGAR',
       'District:_AKOLA', 'District:_AMRAVATI', 'District:_AURANGABAD',
       'District:_BEED', 'District:_BHANDARA', 'District:_BULDHANA',
       'District:_CHANDRAPUR', 'District:_DHULE', 'District:_GADCHIROLI',
       'District:_GONDIA', 'District:_HINGOLI', 'District:_JALGAON',
       'District:_JALNA', 'District:_KOLHAPUR', 'District:_LATUR',
       'District:_NAGPUR', 'District:_NANDED', 'District:_NANDURBAR',
       'District:_NASHIK', 'District:_OSMANABAD', 'District:_PARBHANI',
       'District:_PUNE', 'District:_SANGLI', 'District:_SATARA',
       'District:_SOLAPUR', 'District:_THANE', 'District:_WARDHA',
       'District:_WASHIM', 'District:_YAVATMAL', 'Crop:_Jowar']

In [67]:

x=new_df_wheat[x_fe]

In [66]:
y_fe=['Yield']
y=new_df_wheat[y_fe]

## we can get production using the yfeatures
    production=yield X Area

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=40)

In [70]:
x_train

,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,Soil_type:_peaty,Soil_type:_sandy,Soil_type:_silt,Soil_type:_silty,...,District:_PARBHANI,District:_PUNE,District:_SANGLI,District:_SATARA,District:_SOLAPUR,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Jowar
1040,23.9854,7.3670,58,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
993,24.4990,10.0562,39,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1151,24.2972,12.6140,27,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1275,24.5532,46.2974,65,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
1255,24.7168,36.1714,44,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1267,24.4000,4.7224,74,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
992,24.3958,33.0362,33,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
834,23.4560,8.3676,20,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1046,23.0008,15.3686,65,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1153,24.2347,16.8908,84,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [71]:
x_test

,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,Soil_type:_peaty,Soil_type:_sandy,Soil_type:_silt,Soil_type:_silty,...,District:_PARBHANI,District:_PUNE,District:_SANGLI,District:_SATARA,District:_SOLAPUR,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Jowar
893,23.89456,23.7362,29,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1094,24.75320,10.7514,58,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
994,23.98980,10.0460,21,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1316,22.79600,30.3828,43,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1271,24.36180,16.4118,38,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1303,23.61840,23.1862,40,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1291,23.95780,27.7986,66,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1059,23.14600,42.0860,45,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
840,23.14560,26.9422,80,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
953,23.58640,26.6764,36,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [72]:
from sklearn.linear_model import LinearRegression
mod_lin=LinearRegression()

In [73]:
mod_lin.fit(x_train,y_train)

LinearRegression()

In [74]:
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score

In [75]:
mod_lin.score(x_train,y_train)

0.5620635349757542

In [76]:
y_predict=mod_lin.predict(x_test)

In [77]:
mae(y_test,y_predict)

21206.666666666668

In [78]:
mse(y_test,y_predict)

934230921.5

In [79]:
r2_score(y_test,y_predict)

0.5521748234126268

In [80]:
mod_lin.coef_

array([[-5.17733493e+03,  3.64379159e+02,  1.18437869e+02,
        -3.02206856e+16,  5.55127402e+15,  5.55127402e+15,
        -7.76480728e+15,  5.55127402e+15, -3.90379464e+15,
         5.55127402e+15,  7.79169040e+14,  7.79169039e+14,
         7.79169039e+14,  7.79169039e+14,  7.79169039e+14,
         7.79169039e+14,  7.79169040e+14,  7.79169039e+14,
         7.79169039e+14,  7.79169039e+14,  7.79169039e+14,
         7.79169040e+14,  7.79169040e+14,  7.79169039e+14,
         7.79169039e+14,  7.79169039e+14,  7.79169040e+14,
         7.79169039e+14,  7.79169039e+14,  7.79169040e+14,
         7.79169039e+14,  7.79169040e+14,  7.79169040e+14,
         7.79169039e+14,  7.79169040e+14,  7.79169040e+14,
         7.79169039e+14,  7.79169039e+14,  7.79169039e+14,
         7.79169039e+14,  0.00000000e+00]])

In [81]:
mod_lin.intercept_

array([-6.33044306e+15])

In [82]:
from sklearn.ensemble import RandomForestRegressor
model_random = RandomForestRegressor(n_estimators=100, random_state=42)

In [83]:
model_random.fit(x_train,y_train)

<ipython-input-83-34b152e4a513>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_random.fit(x_train,y_train)

RandomForestRegressor(random_state=42)

In [84]:
y_pred=model_random.predict(x_test)

In [85]:
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score

In [86]:
model_random.score(x_train,y_train)

0.9222665956890601

In [87]:
mae(y_test,y_pred)

22911.019743589743

In [88]:
mse(y_test,y_pred)

1050237202.2975284

In [89]:
r2_score(y_test,y_pred)

0.49656701597676733